@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Odibee+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(15, 146, 58);
}
#header {
    background: rgb(2, 91, 133);
    height: 6%;
    width: 100%;
    transition: all 0.5s;
    z-index: 997;
    padding: 1% 0;
    box-shadow: 0px 0 20px rgb(55 66 59 / 8%);
    display: flex!important;
}

.center{
    position: relative;
    left: 40%;
    width: 40%;
    height: 40%;
}
h6{
    color: rgb(23, 235, 224);
    font-family: 'Odibee Sans', cursive;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 200%;
}
h2{
    color: rgb(0, 145, 137);
    font-family: 'Odibee Sans', cursive;
    font-size: 160%;
}
.game_section_box{
    
    margin: 4% 3% 4% 3%;
    width: 20%;
    height: 20%;
}

.border_around{
    width: 160px;
    height: 160px;
    background-color: rgb(49, 49, 49);
    border-radius: 5%;
}

.game_section_icon{
    padding-top: 8%;
    padding-bottom: 8%;
    margin: 4% 8% 4% 8%;
}

.icon_name{
    height: 10%;
    width: 100%;
}

.icon_img_border{
    height: 120px;
    width: 120px;
    margin: 3% 3% 3% 3%;
    border-radius: 25%;
    background-color: cornsilk;
}

.ever_flexed{
    display: flex;
}
a{
    text-decoration: none;
    color: rgb(53, 161, 120);
}

@media only screen and (max-width: 615px) {
    .ever_flexed{
        display: block;
    }
}